@charset "UTF-8";
/* sec-hero */
.sec-hero {
  background-image: url("/assets/img/display-img.png");
  background-size: 1440px 700px;
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  position: relative;
}
.sec-hero .con-hero {
  padding-block: 80px;
  padding-top: 144px;
  display: flex;
  flex-direction: column;
}
.sec-hero .con-hero .hero-layout {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.sec-hero .con-hero .hero-layout_text {
  width: 100%;
  max-width: 500px;
}
.sec-hero .con-hero .hero-layout_text-display {
  color: #FFF;
  font-family: Satoshi;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 112%; /* 71.68px */
  letter-spacing: -0.64px;
}
.sec-hero .con-hero .hero-layout_text-dsc {
  color: rgba(255, 255, 255, 0.72);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.16px;
  max-width: 488px;
  margin-top: 32px;
  margin-bottom: 48px;
}
.sec-hero .con-hero .hero-layout_text-button .button-hero {
  display: flex;
  height: 56px;
  padding: 8px 28px 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.16);
  border-right: 2px solid rgb(160, 0, 255);
  border-left: 2px solid rgb(30, 80, 255);
  background: linear-gradient(78deg, #1E50FF -12.1%, #A0F 80.03%);
  box-shadow: 0px 16px 64px 0px rgba(170, 0, 255, 0.17);
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 128%;
  letter-spacing: 0.16px;
}
.sec-hero .con-hero .hero-layout_img {
  width: 608px;
}
.sec-hero .con-hero .hero-sponsore {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 120px;
  padding-bottom: 80px;
  align-items: center;
}
.sec-hero .con-hero .hero-sponsore_title {
  color: rgba(255, 255, 255, 0.72);
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.16px;
}
.sec-hero .con-hero .hero-sponsore_brand {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  width: 100%;
}

.sec-discover .con-discover {
  padding-block: 80px;
  display: flex;
  justify-content: center;
}
.sec-discover .con-discover .discover-layout, .sec-discover .con-discover .discover-layout .discover-layout_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-discover .con-discover .discover-layout .discover-layout_text {
  width: 100%;
  max-width: 782px;
  gap: 32px;
}
.sec-discover .con-discover .discover-layout .discover-layout_text .discover_title {
  color: #FFF;
  text-align: center;
  font-family: Satoshi;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 128%; /* 71.68px */
  letter-spacing: -0.56px;
}
.sec-discover .con-discover .discover-layout .discover-layout_text .discover_dsc {
  color: rgba(255, 255, 255, 0.72);
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.16px;
}
.sec-discover .con-discover .discover-layout .discover-tab {
  margin-top: 48px;
}
.sec-discover .con-discover .discover-layout .discover-tab-head {
  flex-wrap: wrap;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px 0px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0) 100%);
}
.sec-discover .con-discover .discover-layout .discover-tab-head_btn {
  display: flex;
  height: 48px;
  padding: 24px 24px 24px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.72);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 20.48px */
  letter-spacing: 0.16px;
  word-wrap: normal;
}
.sec-discover .con-discover .discover-layout .discover-tab-head .active {
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: linear-gradient(78deg, #1E50FF -12.1%, #A0F 80.03%);
  border-right: 2px solid rgb(160, 0, 255);
  border-left: 2px solid rgb(30, 80, 255);
}
.sec-discover .con-discover .discover-layout .discover-tab-body {
  margin-top: 126px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sec-discover .con-discover .discover-layout .discover-tab-body_text {
  width: 100%;
  max-width: 500px;
}
.sec-discover .con-discover .discover-layout .discover-tab-body .tab-discover_title {
  color: #E0E0E0;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 40.96px */
  letter-spacing: -0.32px;
}
.sec-discover .con-discover .discover-layout .discover-tab-body .tab-discover_dsc {
  color: rgba(255, 255, 255, 0.72);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.16px;
  margin-block: 24px;
}
.sec-discover .con-discover .discover-layout .discover-tab-body .tab-discover_serviceProject {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 48px;
}
.sec-discover .con-discover .discover-layout .discover-tab-body .tab-discover_serviceProject .serviceProject-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.sec-discover .con-discover .discover-layout .discover-tab-body .tab-discover_serviceProject .serviceProject-text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.18px;
}
.sec-discover .con-discover .discover-layout .discover-tab-body .tab-discover .btn-cta-tab {
  display: flex;
  padding: 22px 28px 22px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background-color: transparent;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 128%; /* 20.48px */
  letter-spacing: 0.16px;
  border: none;
}
.sec-discover .con-discover .discover-layout .discover-tab-body_image {
  width: 50%;
}
.sec-discover .con-discover .discover-layout .discover-tab-body_image img {
  width: 604px;
  height: 480px;
}

.ornament-gradiet {
  z-index: -1;
  background-color: #A0F;
  opacity: 0.13;
  filter: blur(140px);
  width: 831.166px;
  height: 805.596px;
  transform: rotate(-132.302deg);
  position: absolute;
  left: -474px;
  top: 136px;
}

.gradient-border {
  background-image: radial-gradient(circle at 100% 100%, transparent 31px, #1e50ff 31px, #1e50ff 32px, transparent 32px), linear-gradient(to right, #1e50ff, #aa00ff), radial-gradient(circle at 0% 100%, transparent 31px, #aa00ff 31px, #aa00ff 32px, transparent 32px), linear-gradient(to bottom, #aa00ff, #aa00ff), radial-gradient(circle at 0% 0%, transparent 31px, #aa00ff 31px, #aa00ff 32px, transparent 32px), linear-gradient(to left, #aa00ff, #1e50ff), radial-gradient(circle at 100% 0%, transparent 31px, #1e50ff 31px, #1e50ff 32px, transparent 32px), linear-gradient(to top, #1e50ff, #1e50ff);
  background-size: 32px 32px, calc(100% - 64px) 1px, 32px 32px, 1px calc(100% - 64px);
  background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
}

/* sec-hero */
.sec-hosting {
  background-image: url("/assets/img/display-img.png");
  background-size: 1440px 700px;
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  position: relative;
}

.con-hosting {
  padding-block: 80px;
  padding-top: 144px;
  display: flex;
  flex-direction: column;
}

.hosting-layout {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hosting-layout_text {
  width: 100%;
  max-width: 500px;
}

.hosting-layout_img {
  width: 608px;
}

.hosting-layout_text-title {
  color: #FFF;
  font-family: Satoshi;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 112%; /* 71.68px */
  letter-spacing: -0.64px;
}

.hosting-layout_text-dsc {
  color: rgba(255, 255, 255, 0.72);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.16px;
  max-width: 488px;
  margin-top: 32px;
  margin-bottom: 48px;
}

.button-hosting {
  display: flex;
  height: 56px;
  padding: 8px 28px 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.16);
  border-right: 2px solid rgb(160, 0, 255);
  border-left: 2px solid rgb(30, 80, 255);
  background: linear-gradient(78deg, #1E50FF -12.1%, #A0F 80.03%);
  box-shadow: 0px 16px 64px 0px rgba(170, 0, 255, 0.17);
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 128%;
  letter-spacing: 0.16px;
}

.ornament-gradiet {
  z-index: -1;
  background-color: #A0F;
  opacity: 0.13;
  filter: blur(140px);
  width: 831.166px;
  height: 805.596px;
  transform: rotate(-132.302deg);
  position: absolute;
  left: -474px;
  top: 136px;
}

@font-face {
  font-family: "Satosi";
  src: url("/assets/font/Satosi-Variable.ttf") format("ttf"), url("/assets/font/Satoshi-Variable.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  background-color: #080808;
  color: #fff;
  font-family: "Satosi";
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  padding-inline: 104px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
