.sec-footer{
    background: rgba(255, 255, 255, 0.02) url('/assets/img/ornament-bg-footer.svg') no-repeat bottom / cover;
    border-radius: 48px 48px 0px 0px;
    border-top: 2px solid rgba(255, 255, 255, 0.03);
    position: relative;
    .con-footer{
        padding-block: 80px;
        .footer-layout{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            &_brand{
                display: flex;
                flex-direction: column;
            }
            .brand{
                &-logo{
                    width: 100%;
                }
                &-dsc{
                    color: #FFF;
                    font-family: Satoshi;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%; /* 25.6px */
                    letter-spacing: 0.16px;
                    max-width: 379px;
                    width: 100%;
                    margin-top: 24px;
                }
                .form-input{
                    margin-bottom: 120px;
                    margin-top: 32px;
                    display: flex;
                    flex-direction: row;
                    border-radius: 100px;
                    border: 2px solid rgba(255, 255, 255, 0.04);
                    background: rgba(255, 255, 255, 0.05);
                    height: 56px;
                    padding: 8px 24px;
                    align-items: center;
                    gap: 8px;
                    align-self: stretch;
                    input{
                        background: transparent;
                        border: none;
                        width: 100%;                    
                    }
                    input::placeholder {
                        color: rgba(255, 255, 255, 0.48);
                        font-family: Satoshi;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 160%; /* 25.6px */
                        letter-spacing: 0.16px;
                    }
                    button{
                        background: transparent;
                        border: none;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            &_menus{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 48px;
                grid-row-gap: 48px;
                .menus-wraper{
                    width: 278px;
                    &_item{
                        span{
                            color: #FFF;
                            font-family: Satoshi;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 128%; /* 30.72px */
                            letter-spacing: -0.24px;
                            margin-bottom: 24px;
                        }
                        li{
                            list-style: none;
                            margin-block: 8px;
                            a{
                                color: rgba(255, 255, 255, 0.72);
                                font-family: Satoshi;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 160%; /* 25.6px */
                                letter-spacing: 0.16px;
                            }
                        }
                        .contact-us{
                            margin-block: 14px;
                        }
                    }
                    img{
                        width: 128px;
                    }

                }
                .stamp{
                    display: flex;
                    justify-content: start;
                    align-items: flex-end;
                }
            }
        }
    }
}