.sec-navbar {
    .con-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 24px;

        .brand-navbar {
            a {
                img {
                    width: 193px;
                }
            }
        }

        .menus-navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 96px;

            &-menus {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                a.link-menu {
                    color: rgba(255, 255, 255, 0.72);
                    font-family: Satoshi;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 128%; /* 20.48px */
                    letter-spacing: 0.16px;
                    padding-inline: 14px;
                    display: flex;
                    flex-direction: row;
                    gap: 4px;

                    &:hover {
                        color: #2b65f4;
                    }
                }
            }

            a.button-navbar {
                display: flex;
                padding: 22px 28px 22px 32px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 100px;
                background-color: transparent;
                color: rgba(255, 255, 255, 0.72);
                font-size: 16px;
                font-style: normal;
                font-weight: 900;
                line-height: 128%; /* 20.48px */
                letter-spacing: 0.16px;
                border: none;
            }
        }

        .navbar-humburger {
            display: none;
            width: 24px;
            height: 24px;
            position: relative;

            .humb-icon, 
            .cross-icon {
                position: absolute;
                width: 24px;
                height: 24px;
            }

            .humb-icon {
                display: block;
            }

            .cross-icon {
                display: none;
            }
        }
    }
}

.close {
    .humb-icon {
        display: none !important;
    }

    .cross-icon {
        display: block !important;
        position: fixed !important;
    }
}

@media only screen and (max-width: 1024px) {
    .con-navbar {
        padding-inline: 10px;
    }

    .menus-navbar {
        display: none !important;
    }

    .navbar-humburger {
        display: flex !important;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }

    .open {
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        gap: 15px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        padding: 15px;
        width: 100% !important;
        height: 100% !important;
        z-index: 2;

        .menus-navbar-menus {
            margin-top: 80px !important;
            display: flex !important;
            flex-direction: column !important;

            .link-menu {
                padding: 20px 0;
                font-size: 24px;
            }
        }
    }
}
