@use "homepage.scss";
@use "hosting-page.scss";

@font-face {
    font-family: 'Satoshi';
    src: url('/assets/font/Satoshi-Variable.woff2') format('woff2'), /* Modern browsers */
         url('/assets/font/Satoshi-Variable.woff') format('woff'),   /* Fallback for older browsers */
         url('/assets/font/Satoshi-Variable.ttf') format('truetype'), /* Legacy fallback */
         url('/assets/font/Satoshi-Bold.woff2') format('woff2'), /* Modern browsers */
         url('/assets/font/Satoshi-Bold.woff') format('woff'),   /* Fallback for older browsers */
         url('/assets/font/Satoshi-Bold.ttf') format('truetype'), /* Legacy fallback */
         url('/assets/font/Satoshi-Medium.woff2') format('woff2'), /* Modern browsers */
         url('/assets/font/Satoshi-Medium.woff') format('woff'),   /* Fallback for older browsers */
         url('/assets/font/Satoshi-Medium.ttf') format('truetype'); /* Legacy fallback */
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Satoshi';
}

.body{
    background-color: #080808;
    color: #fff;
    font-family: 'Satoshi', sans-serif;
    overflow-x: hidden;
    
}

a {
    text-decoration: none;
    color: inherit;
}
section{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    padding-inline: 104px;
    margin: auto;
}
h1{
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
}