.form-search{
    margin-bottom: 64px!important;
    margin-top: 48px!important;
}
.search_tab{
    max-width: 640px!important;
    width: 100%!important;
    justify-content: space-between!important;
}