.sec-discover{
    .con-discover{
        padding-block: 80px;
        display: flex;
        justify-content: center;
        .discover-layout{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            .discover-layout_text{
                @extend .discover-layout;
                width: 100%;
                max-width: 782px;
                gap: 32px;
                .discover{
                    &_title{
                        color: #FFF;
                        text-align: center;
                        font-size: 56px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 128%; /* 71.68px */
                        letter-spacing: -0.56px;
                    }
                    &_dsc{
                        color: rgba(255, 255, 255, 0.72);
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 160%; /* 25.6px */
                        letter-spacing: 0.16px;
                    }
                }
            }
        .discover-tab{
            margin-top: 48px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &-head{
                flex-wrap: wrap;
                display: flex;
                padding: 8px;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 8px 0px;
                border-radius: 100px;
                border: 1px solid rgba(255, 255, 255, 0.05);
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.00) 100%);
                &_btn{
                    display: flex;
                    height: 48px;
                    padding: 24px 24px 24px 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 100px;
                    background-color: transparent;
                    border: none;
                    color: rgba(255, 255, 255, 0.72);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 128%; /* 20.48px */
                    letter-spacing: 0.16px;
                    word-wrap: normal;
                    cursor: pointer;
                    }
                    &_btn:hover{
                        color: white;
                        svg{
                            path{
                                stroke-opacity: 1;
                            }
                        }
                        }
                .active{
                    border: 1px solid rgba(255, 255, 255, 0.16);
                    background: linear-gradient(78deg, #1E50FF -12.1%, #A0F 80.03%);
                    border-right: 2px solid rgb(160, 0, 255);
                    border-left: 2px solid rgb(30, 80, 255);
                    color: white;
                    svg{
                        path{
                            stroke-opacity: 1;

                        }
                    }
                    }
                }
            &-body{
                display: none;
                // margin-top: 126px;
                // display: flex;
                // flex-direction: row;
                // justify-content: space-between;
                &_text{
                    width: 100%;
                    max-width: 500px;
                }
                .tab-discover{
                    &_title{
                        color: #E0E0E0;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 128%; /* 40.96px */
                        letter-spacing: -0.32px;
                    }
                    &_dsc{
                        color: rgba(255, 255, 255, 0.72);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 160%; /* 25.6px */
                        letter-spacing: 0.16px;
                        margin-block: 24px;
                    }
                    &_serviceProject{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        // max-width: 440px;
                        .serviceProject{
                            &-wrap{
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                gap: 12px;
                                width: 100%;
                                max-width: 242px;
                                &_text{
                                    color: #FFF;
                                    font-family: Satoshi;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 160%; /* 28.8px */
                                    letter-spacing: 0.18px;
                                }
                            }
                        }
                    }
                    .gap-services{
                        margin-block: 16px;
                    }
                    .btn-cta-tab{
                        display: flex;
                        padding: 22px 28px 22px 32px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border-radius: 100px;
                        background-color: transparent;
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 128%; /* 20.48px */
                        letter-spacing: 0.16px;
                        border: none;
                        margin-top: 48px;
                    }
                }
                &_image{
                    width: 50%;
                    img{
                        width: 604px;
                        height: 480px;
                    }
                }
            }
            .tab-content.active {
                margin-top: 126px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .con-discover{
        .discover-layout{
            .discover_title{
                font-size: 32px;
            }
        }
        .discover-tab{
            .discover-tab-head{
                flex-direction: column!important;
                border-radius: 30px!important;
                width: 100%;
                .discover-tab-head_btn{
                    width: 100%;
                }
            }
            .discover-tab-body{
                width: 100%;
                flex-direction: column!important;
                .discover-tab-body_image{
                    width: 100%!important;
                    img{
                        width: 100%!important;
                        height: auto;
                    }
                }
            }
        }
    }

}