.sec-hero{
    // background-image: url('/assets/img/display-img.png');
    // background-size: 1440px 700px;
    // background-position: center;
    // background-position-y: top;
    // background-repeat: no-repeat;
    // position: relative;
    .con-hero{
        padding-block: 80px;
        padding-top: 144px;
        display: flex;
        flex-direction: column;
        .hero-layout{
            display: flex;
            flex-direction: row;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            position: relative;
            &_text{
                width: 100%;
                max-width: 500px;
                &-display{
                    color: #FFF;
                    font-family: Satoshi;
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 112%; /* 71.68px */
                    letter-spacing: -0.64px;
                }
                &-dsc{
                    color: rgba(255, 255, 255, 0.72);
                    font-family: Satoshi;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%; /* 25.6px */
                    letter-spacing: 0.16px;
                    max-width: 488px;
                    margin-top: 32px;
                    margin-bottom: 48px;
                }
                &-button{
                    .button{
                        &-hero{
                            display: flex;
                            height: 56px;
                            padding: 8px 28px 8px 32px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            border-radius: 100px;
                            border: 2px solid rgba(255, 255, 255, 0.16);
                            border-right: 2px solid rgb(160, 0, 255);
                            border-left: 2px solid rgb(30, 80, 255);
                            background: linear-gradient(78deg, #1E50FF -12.1%, #A0F 80.03%);
                            box-shadow: 0px 16px 64px 0px rgba(170, 0, 255, 0.17);
                            color: #FFF;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 900;
                            line-height: 128%;
                            letter-spacing: 0.16px;
                            &:hover{
                                background: linear-gradient(78deg, rgba(30, 80, 255, 0.7) -12.1%, rgba(170, 0, 255, 0.7) 80.03%);
                            }
                        }
                    }
                }
            }
            &_img{
                position: relative;
                img, 
                .hero-images{
                    width: 1400px;
                    position: absolute;
                    z-index: -1;
                    top: -200px;
                    right: -100px;
                }
            }
        
        }
        .hero-sponsore{
            display: flex;
            flex-direction: column;
            gap: 48px;
            padding-top: 120px;
            padding-bottom: 80px;
            align-items: center;
            &_title{
                color: rgba(255, 255, 255, 0.72);
                text-align: center;
                font-family: Satoshi;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 160%; /* 25.6px */
                letter-spacing: 0.16px;
            }
            &_brand{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                justify-items: center;
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .con-hero{
        flex-direction: column;
        padding-block: 40px!important;
        padding-inline: 0px!important;
        .hero-layout{
            flex-direction: column !important;
            &_img{
                height: 500px!important;
                overflow: hidden!important;
                img{
                    height: 500px!important;
                    top: 0 !important;
                    right: -200px !important;
                }
            }
            &_text-display{
                font-size: 40px!important;
            }
            &_text-button{
                .button-hero{
                    width: 100%!important;
                }
            }
            &_text{
                padding-inline: 20px;
            }
        }
        .hero-sponsore{
            padding-inline: 20px;
            .hero-sponsore_brand{
                grid-template-columns: repeat(2, 1fr)!important;
                grid-column-gap: 20px!important;
                grid-row-gap: 20px!important;
                justify-content: center!important;
                justify-items: center!important;
                img{
                    width: 100%!important;
                }
            }
        }
    }



}