.sec-lost{
    position: relative;
    .con-lost{
        padding-block: 80px;
        display: flex;
        justify-content: center;
        .lost-layout{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .lost{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 32px;
                max-width: 781px;
                width: 100%;
                &_title{
                    color: #FFF;
                    text-align: center;
                    font-family: Satoshi;
                    font-size: 56px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 128%; /* 71.68px */
                    letter-spacing: -0.56px;
                }
            }
        }
        .lost-layout_card{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 32px;
            margin-top: 64px;
            .content{
                &-card{
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: center;
                    width: 394px;
                    &_title{
                        color: #FFF;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 128%; /* 40.96px */
                        letter-spacing: -0.32px;
                        margin-top: 40px;
                        margin-bottom: 24px;
                        text-align: center;
                    }
                    &_dsc{
                        color: rgba(255, 255, 255, 0.72);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 160%; /* 25.6px */
                        letter-spacing: 0.16px;
                        text-align: center;
                        margin-bottom: 32px;
                    }
                    img{
                        width: 160px;
                    }
                    .btn-cta-content{
                        display: flex;
                        padding: 22px 28px 22px 32px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border-radius: 100px;
                        background-color: transparent;
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 128%; /* 20.48px */
                        letter-spacing: 0.16px;
                        border: none;
                    }
                }
            }
        }


    }
    .ornament-gradiet-lost{
        width: 838.824px;
        height: 870.21px;
        transform: rotate(175.163deg);
        position: absolute;
        right: -386.208px;
        bottom: 300px;
        background: #1E50FF;
        opacity: 0.19;
        filter: blur(140px);
        z-index: -1;
    }
}

@media (max-width: 768px) {
    .con-lost{
        .lost-layout_card{
            flex-direction: column!important;
            gap: 48px!important;
        }
        .lost_title{
            font-size: 32px!important;
        }
        .lost-layout_card{
            width: 100%!important;
        }
        .content-card{
            width: 100%!important;
        }
    }
}