.sec-started{
    position: relative;
    .con-started{
        padding-block: 80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .started-content-body{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 64px;
            gap: 88px;
            &_image{
                max-width: 698px;
                width: 100%;
                img{
                    max-width: 600px;
                    width: 100%;
                }
            }
            &_text{
                width: 100%;
            }
            .content-started{
                &_title{
                    color: #FFF;
                    font-family: Satoshi;
                    font-size: 56px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 128%; /* 71.68px */
                    letter-spacing: -0.56px;
                }
                &_dsc{
                    color: rgba(255, 255, 255, 0.72);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%; /* 25.6px */
                    letter-spacing: 0.16px;
                    margin: 32px 0 48px 0;
                }
                &_solution{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-block: 16px;
                    .solution_wrap{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: start;
                        gap: 8px;
                        max-width: 290px;
                        width: 100%;
                        &-text{
                            color: #FFF;
                            font-family: Satoshi;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 160%; /* 28.8px */
                            letter-spacing: 0.18px;
                        }
                    }
                }
            }
        }
    }
    .ornament-gradiet-started{
        &-up{
            width: 831.166px;
            height: 805.596px;
            position: absolute;
            right: -559.232px;
            background: #A0F;
            opacity: 0.13;
            filter: blur(140px);
            z-index: -1;
        }
        &-bottom{
            width: 838.824px;
            height: 870.21px;
            transform: rotate(175.163deg);
            position: absolute;
            left: -515px;
            top: 450px;
            background: #1E50FF;
            opacity: 0.19;
            filter: blur(140px);
            z-index: -1;
        }
    }
    }
    @media (max-width: 768px) {
        .started-content-body{
            flex-direction: column!important;
            .content-started_title{
                font-size: 32px!important;
            }
            .content-started_solution{
                flex-direction: column!important;
                gap: 16px;
            }
        }
    }