.data-center-favorite{
    .whyLyra-layout_text-title{
        width: 100%;
    }
    .whyLyra-layout_text-wrap-dsc{
        width: 100%;
    }
}
.data-center-card_content{
    .content-card{
        max-width: 100%!important;
    }
}