.sec-network{
    .con-network{
        padding-block: 80px;
        .network_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            justify-content: flex-start;
            gap: 64px;
            &-layout{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                justify-content: space-between;
                gap: 64px;
                .layout-title{
                    width: 100%;
                    max-width: 600px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: stretch;
                    gap: 126px;
                    .title_text{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        width: 100%;
                        justify-content: flex-start;
                        gap: 32px;
                        h2{
                            color: #FFF;
                            font-family: Satoshi;
                            font-size: 64px;
                            font-style: normal;
                            font-weight: 900;
                            line-height: 112%; /* 71.68px */
                            letter-spacing: -0.64px;
                        }
                        span{
                            color: rgba(255, 255, 255, 0.72);
                            font-family: Satoshi;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 160%; /* 25.6px */
                            letter-spacing: 0.16px;
                        }
                    }
                    .server-address{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: start;
                        .server-address_wrapper{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: 16px;
                            span{
                                color: rgba(255, 255, 255, 0.72);
                                font-family: Satoshi;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 160%; /* 25.6px */
                                letter-spacing: 0.16px;
                            }
                            h3{
                                color: #FFF;
                                font-family: Satoshi;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 128%; /* 30.72px */
                                letter-spacing: -0.24px;
                            }
                        }
                    }
                }
                .layout-form{
                    width: 100%;
                    max-width: 500px;
                    .form_title{
                        h2{
                            color: #FFF;
                            font-family: Satoshi;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 128%; /* 40.96px */
                            letter-spacing: -0.32px;
                        }
                    }
                    .form_wrapper{
                        margin-top: 48px;
                        form{
                            display: flex;
                            flex-direction: column;
                        }
                        .ping{
                            margin-top: 32px;
                        }
                        .input_user{
                            display: flex;
                            flex-direction: column;
                            gap: 32px;
                            label{
                                color: rgba(255, 255, 255, 0.72);
                                font-family: Satoshi;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 160%; /* 25.6px */
                                letter-spacing: 0.16px;
                            }
                            input{
                                border-radius: 100px;
                                border: 2px solid rgba(255, 255, 255, 0.04);
                                background: rgba(255, 255, 255, 0.05);
                                display: flex;
                                height: 56px;
                                padding: 8px 24px;
                                align-items: center;
                                gap: 8px;
                                flex-shrink: 0;
                                align-self: stretch;
                                color: white;
                            }
                        }
                        .button-submit{
                            margin-top: 48px;
                            display: flex;
                            height: 64px;
                            width: 155px;
                            padding: 8px 28px 8px 32px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            input{
                                background-color: transparent!important;
                                color: white;
                                border-color: transparent!important;
                                color: #FFF;
                                font-family: Satoshi;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 900;
                                line-height: 128%; /* 20.48px */
                                letter-spacing: 0.16px;
                                height: 64px;
                                width: 100%;
                            }
                            svg{
                                min-width: 20px;
                            }
                        }
                    }
                }
            }
            &-megabite{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                justify-content: flex-start;
                gap: 32px;
                .megabite_title{
                    h3{
                        color: rgba(255, 255, 255, 0.72);
                        text-align: center;
                        font-family: Satoshi;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 160%; /* 25.6px */
                        letter-spacing: 0.16px;
                    }
                }
                .megabite_select{
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    .select-btn{
                        display: flex;
                        height: 48px;
                        padding: 24px 24px 24px 20px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border-radius: 100px;
                        color: rgba(255, 255, 255, 0.72);
                        font-family: Satoshi;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 128%; /* 20.48px */
                        letter-spacing: 0.16px;
                        border: 1px solid transparent;
                        cursor: pointer;
                        &:hover{
                            border: 1px solid rgba(255, 255, 255, 0.16);
                            background: linear-gradient(78deg, #1E50FF -12.1%, #A0F 80.03%);
                            border-right: 2px solid rgb(160, 0, 255);
                            border-left: 2px solid rgb(30, 80, 255);
                            color: white;
                            svg{
                                path{
                                    stroke-opacity: 1!important;
                                }
                            }
                        }
                    }
                    .active{
                        border: 1px solid rgba(255, 255, 255, 0.16);
                        background: linear-gradient(78deg, #1E50FF -12.1%, #A0F 80.03%);
                        border-right: 2px solid rgb(160, 0, 255);
                        border-left: 2px solid rgb(30, 80, 255);
                        color: white;
                        svg{
                            path{
                                stroke-opacity: 1!important;
                            }
                        }
                    }
                }
            }
        }
    }
}